.appointment-card.request,
.appointment-card.wait,
.appointment-card.schedule,
.appointment-card.completed,
.appointment-card.closed {
    border: 1px solid #ccc;
    margin: 10px;
    border-radius: 10px;
    padding: 15px;
}


.appointment-card.request {
    background-color: #F3F3C9;
}

.appointment-card.wait {
    background-color: #f9f9f9;
}

.appointment-card.schedule {
    background-color: #B1D3B2;
}

.appointment-card.completed {
    background-color: #B1D3B2;
}

.appointment-card.closed {
    background-color: #D6847E;
}

.appointment-card .card-status {
    font-weight: bold;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 2px solid #0081D6;
    display: inline-block;
    padding: 10px;
}

.appointment-card .card-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.appointment-card .person-info {
    display: flex;
    align-items: center;
}

.appointment-card .person-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 10px;
}

.appointment-card .person-info .basic-info {
    padding-left: 35px;
    border-left: 2px solid #0081D6;
}

.appointment-card .card-actions{
    display: grid;
    gap: 1rem;
}

    .appointment-card .card-actions .action-button {
        margin-left: 5px;
        padding: 10px 15px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 18px;
    }

    .appointment-card .card-actions .action-button.Αποδοχή {
        background-color: #61A474;
        color: white;
    }

    .appointment-card .card-actions .action-button.Αλλαγή {
        background-color: #FFAC73;
        color: white;
    }

    .appointment-card .card-actions .action-button.Ακύρωση {
        background-color: #D6847E;
        color: white;
    }

    .appointment-card .card-actions .action-button.Απόρριψη {
        background-color: #D6847E;
        color: white;
    }

    .appointment-card .card-actions .action-button.Απόρριψη {
        background-color: #D6847E;
        color: white;
    }

    .appointment-card .card-actions .action-button.Αρχειοθέτηση {
        background-color: #D6847E;
        color: white;
    }
