.search-professional .search-professional-breadcrumb {
    display: grid;
    margin-left: 20px;
}

.search-professional .filters {
    border: 2px solid #0065B3;
}

.search-professional .main-text{
    display: flex;
    width: auto;
    padding-right: 300px;
}

.search-professional .right-section {
}

.search-professional .professional .second-row{
    display: flex;
}

    .search-professional .professional .second-row .left-itms {
        padding-right: 15px;
        margin-bottom: 5px;
        border-right: 2px solid #0065B3;
        min-width: 200px;
    }

    .search-professional .professional .second-row .right-itms{
        margin-left: 10px;
        min-width: 460px;
    }