.agreement-card {
    border: 1px solid #ccc;
    margin: 15px 60px;
    border-radius: 10px;
    padding: 15px;
    background-color: white
}

    .agreement-card .card-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 40px;
    }

    .agreement-card .on-hold {
        margin-left: 20px;
        padding: 5px 15px;
        background-color: #357EBD;
        align-items: center;
        display: flex;
        height: 35px;
        margin-top: 10px;
        border-radius: 20px;
        color: white;
    }

    .agreement-card .person-info {
        display: flex;
        align-items: center;
    }

.agreement-card .person-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
    margin-left: 10px;
}

.agreement-card .person-info .basic-info {
    display: flex;
    padding-left: 35px;
    border-left: 2px solid #0081D6;
    margin-left: 15px;
}

    .agreement-card .person-info .basic-info .first-line {
        margin-right: 35px;
        text-align: center;
    }
    
    .agreement-card .person-info .basic-info .second-line{
        text-align: center;
    }

    .agreement-card .card-actions .action-button {
        margin-left: 5px;
        padding: 7px 14px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
    }

    .agreement-card .card-actions .action-button.Ανασκόπηση,
    .agreement-card .card-actions .action-button.Αξιολόγηση {
        background-color: #357EBD;
        color: white;
    }

    .agreement-card .card-actions .action-button.Επιβεβαίωση.ολοκλήρωσης, 
    .agreement-card .card-actions .action-button.Επέκταση.Συνεργασίας {
        background-color: #61A474;
        color: white;
    }
