.application-card {
    border: 1px solid #ccc;
    margin: 15px;
    border-radius: 10px;
    padding: 15px;
    background-color: white
}

.application-card .card-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.application-card .person-info {
    display: flex;
    align-items: center;
}

.application-card .person-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 10px;
}

.application-card .person-info .basic-info {
    padding-left: 35px;
    border-left: 2px solid #0081D6;
}

.application-card .card-actions .action-button {
    margin-left: 5px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

    .application-card .card-actions .action-button.Ανασκόπηση-Επεξεργασία {
        background-color: #61A474;
        color: white;
    }

    .application-card .card-actions .action-button.Ακύρωση {
        background-color: #D6847E;
        color: white;
    }
