.Option1Page1 {
  display: flex; /* Δημιουργία flex container */
  flex-direction: column; /* Στήριξη των στοιχείων κάθετα */
  min-height: 100vh; /* Εξασφαλίζει ότι η σελίδα θα έχει τουλάχιστον το ύψος του παραθύρου */
}

footer {
  margin-top: auto; /* Το footer θα πάει στο κάτω μέρος */
}


.front-button-container {
  position: absolute; /* Για να τοποθετηθεί απόλυτα σε σχέση με το γονικό */
  top: 50%; /* Κεντράρισμα κατακόρυφα */
  right: 0; /* Στο δεξιό άκρο */
  transform: translateY(-50%); /* Ρύθμιση για ακριβές κεντράρισμα κατακόρυφα */
  padding-right: 300px; /* Προσθήκη κενής απόστασης από το δεξιό άκρο */
}

.back-button-container {
  position: absolute; /* Για να τοποθετηθεί απόλυτα σε σχέση με το γονικό */
  top: 50%; /* Κεντράρισμα κατακόρυφα */
  left: 0; /* Στο αριστερό άκρο */
  transform: translateY(-50%); /* Ρύθμιση για ακριβές κεντράρισμα κατακόρυφα */
  padding-left: 300px; /* Προσθήκη κενής απόστασης από το αριστερό άκρο */
}
